<!doctype html>
<html lang="en">
  <head>
		<title>{% block title %}6degrees Email Templates{% endblock %}</title>
	</head>
	<body>
		<div id="wrapper">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
