{% block content %}
	<table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#000000;">
		<tr>
			<td bgcolor="F6F6F6">
				<table width="592" cellspacing="0" cellpadding="0" border="0" align="center">
					<tr>
						<td style="padding:20px 30px 40px 30px;">
							<table width="532" cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td valign="top">
										<img src="{{ "6d_logo.png" | asset_url }}" width="30" height="41">
									</td>
								</tr>
								<tr>
									<td style="padding:0 30px;text-align:center;">
										<p style="font-size:18px;line-height:24px;">Here are your 6degrees download links:</p>
										<p>Please open this email on your mobile device.</p>
									</td>
								</tr>
								<tr>
									<td style="padding:20px;text-align:center;">
										<a href="#"><img src="{{ "download_app_store.png" | asset_url }}" width="148" height="50" alt="Available on the App Store"></a> <a href="#"><img src="{{ "download_google_play.png" | asset_url }}" width="148" height="50" alt="Get it on Google Play"></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="FFFFFF">
				<table width="592" cellspacing="0" cellpadding="0" border="0" align="center">
					<tr>
						<td style="padding:20px 30px 40px 30px;text-align:center;">
							<p style="font-size:16px;line-height:20px;">&copy; 6degrees</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
